html {
  min-width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
}

#add {
  font-weight: bolder;
  font-size: x-large;
  text-decoration: none;
}

#remove {
  font-weight: bold;
  text-decoration: none;
  font-size: large;
}

#alert{
  margin-left: 25px;
  color: green;
}